<div class="row d-flex align-items-center w-80 ">
  <div class="d-flex flex-column w-50 vh-100  ">
    <div class="col w-100 ">
      <% image_tag("restaurant.jpg", class: "card-img-top m-1")%>
      <% image_tag("huuum.jpg", class: "card-img-top m-1")%>
      
    </div>
  </div>
  <div class="d-flex flex-column w-50 vh-100 justify-content-center ">
    <div class="d-flex">
      <div class=" m-3 border d-flex">
        <p> Venez découvrir notre cuisine unique et savoureuse !
          Dégustez nos plats fraîchement préparés et notre sélection de vins exclusifs.
          Réservez votre table maintenant et profitez d'une expérience culinaire inoubliable.
          Offrez-vous une pause gourmande dans notre établissement chaleureux et accueillant.
          Dînez en tête à tête dans notre ambiance romantique, ou en groupe dans notre salle spacieuse.
          Nous mettons tout en œuvre pour vous proposer un service impeccable et des plats de qualité exceptionnelle.
          Venez vivre l'expérience gastronomique ultime dans notre restaurant primé.
          Ne manquez pas notre menu du jour, rempli de surprises culinaires savoureuses.
          Réservez dès maintenant et venez découvrir pourquoi notre restaurant est si populaire auprès des gourmets !</p>
      </div>
 </div>
    <div class=" m-3 border">
      <% image_tag("menu", class: "m-3 border") %>
    
    </div>
  </div>
</div>
