<h1>Editing order course</h1>
<%= render "form", order_course: @order_course %>
<br>
<div>
  <%= link_to "Show this order course", @order_course %> |
  <%= link_to "Back to order courses", order_courses_path %>
</div>
