<div class="container-bloc">
  <div class="top-coworking text-center py-5 ">
    <h1> Nos blocs</h1>
  </div>
  <div class="row m-3 border d-flex align-items-center d-flex flex-row">
    <div class="col col-12 col-sm-6 mt-4">
      <p>
        Description :</p>
      <p>Un bloc est un ensemble de prises d’une même couleur sur le mur d’escalade, qui constitue l’itinéraire à réaliser. Grimper un bloc, c’est exécuter une séquence courte de mouvements qui nécessitent puissance, force et dynamique.
        Pour démarrer, les pieds et les mains se placent sur les prises signalées par les scotchs de la couleur du bloc (2 prises de pied et 2 prises de main). Si toutefois il manque un scotch, cela indique que l’un des pieds ou une main peut, ou pas, s’appuyer sur le mur. Un scotch à mi-parcours indique « la zone », c’est à dire la difficulté à peu près à mi-parcours du bloc. En compétition, « toucher la zone », vous donne une partie des points. Les 2 scotchs finaux vous indiquent « le top », vous avez réussi l’itinéraire !
        Un bloc se grimpe uniquement sur une couleur. Dans votre progression, vous pouvez vous servir de toutes les prises de la couleur de votre bloc, du mur et de l’ensemble des « volumes » de couleur bois ou grise fixés sur la structure. Les zones que vous n’avez pas le droit de toucher sont matérialisées par des scotchs noirs.</p>
    </div>
    <div class="col col-12 col-sm-6">
      <%= image_tag("climb1.jpg", class: "mb-3 mt-4 w-100") %>
    </div>
  </div>
</div>
