<h1>Editing subcription</h1>

<%= render "form", subcription: @subcription %>

<br>

<div>
  <%= link_to "Show this subcription", @subcription %> |
  <%= link_to "Back to subcriptions", subcriptions_path %>
</div>
