<body class="light">
  <button type="button" class="btn btn-dark ">Dark</button>
  <div class="container-coworking">
    <div class="top-coworking text-center py-5 ">
      <h1> Espace coworking</h1>
    </div>
    <% @coworking.each do |cowork| %>
      <div class=" row m-3 border d-flex align-items-center d-flex flex-row ">
        <div class="col col-12 col-sm-6 mt-4  ">
          <p><%= cowork.content %></p>
        </div>
        <div class="col col-12 col-sm-6">
          <%= image_tag("cowork.jpg", class: "mb-3 mt-4 w-100") %>
        </div>
      </div>
    <% end %>
  </div>
</body>
<script src="script_coworking.js"></script>
