<div class="container-bloc">
  <div class=" text-center py-5 ">
    <h1> Coworking</h1>
    <%= link_to "Se connecter pour voir l'espace de votre salle", new_user_session_path, class: "btn-primary hvr-grow m-2 rounded" %>
  </div>
  <div class="row m-3 border d-flex align-items-center d-flex flex-row-reverse">
    <div class="col col-12 col-sm-6 mt-4">
      <p>
        coworking:</p>
      <p>
       Nous disposons d'une salle de coworking, avec wifi excellente, prise sur toutes les tables,
       ainsi que de nombreux fauteil, venez vous y installer pour travailler seul ou en équipe.
      </p>
    </div>
    <div class="col col-12 col-sm-6">
      <%= image_tag("coworking.jpg", class: "mb-3 mt-4 w-100") %>
    </div>
  </div>
  
</div>