<p style="color: green"><%= notice %></p>
<h1>Subscriptions</h1>
<div id="subscriptions">
  <% @subscriptions.each do |subscription| %>
    <%= render subscription %>
    <p>
      <%= link_to "Show this subscription", subscription %>
    </p>
  <% end %>
</div>
<%= link_to "New subscription", new_subscription_path %>
<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Prix</h1>
      <p class="fs-5 text-muted">Souscrire un abonnement </p>
    </div>
  </header>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
     
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Jour</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">17€<small class="text-muted fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>accès à la section d'escalade</li>
                <li>accès à l'espace de loisirs</li>
                <li>Accès au coworking</li>
                <li>. </li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Valider</button>
            </div>
          </div>
   
      </div>
     
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Mois</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">45€<small class="text-muted fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>accès à la section d'escalade</li>
                <li>accès à l'espace de loisirs</li>
                <li>access à l'espace de détente</li>
                <li> Accès au coworking</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Valider</button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm ">
            <div class="card-header py-3  ">
              <h4 class="my-0 fw-normal">Année</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">450€<small class="text-muted fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
               <li>accès à la section d'escalade</li>
                <li>accès à l'espace de loisirs</li>
                <li>access à l'espace de détente</li>
                <li> Accès au coworking</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Valider</button>
            </div>
          </div>
        </div>
      </div>

    <h2 class="display-6 text-center mb-4">Avantage age</h2>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 0%;"></th>
            <th style="width: 22%;">Jour </th>
            <th style="width: 22%;">Mois</th>
            <th style="width: 22%;">Année</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">(senior) 19 to 34 ans</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg>12€</td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg>35€</td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg>350€</td>
          </tr>
          <tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row" class="text-start">(veteran) +35 ans</th>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg>15€</td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg>39€</td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg>390€</td>
            </tr>
            <tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </body>
</html>
