<h2 class="display-6 text-center mb-4">Abonnement Possible</h2>
<div class="d-flex justify-content-center  ">
  <div class=" container row row-cols-4 justify-content-center m-5 ">
    <% @subscriptions.each do |info|%>
      <div class="">
        <div class="card col m-2 ">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-center"><%=info.name%></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-center"><%=info.price%>€<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><%=info.description%></li>
            </ul>
            <%= button_to "S'abonner", order_subscription_book_subscription_path, method: :post, class:"btn btn-success"%>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>
