<h2 class="display-6 text-center mb-4">Abonnement Possible</h2>
<div class="d-flex justify-content-center  ">
  <div class=" container row row-cols-4 justify-content-center m-5 ">
    <% @subscriptions.each do |info|%>
      <div class="mh-25 col-12 col-sm-4 mb-4">
        <div class="card col  mt-1  ">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-center"><%=info.name%></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-center"><%=info.price%>€<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><%=info.description%></li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Valider </button>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>

