<h1>Editing order subscription</h1>
<%= render "form", order_subscription: @order_subscription %>
<br>
<div>
  <%= link_to "Show this order subscription", @order_subscription %> |
  <%= link_to "Back to order subscriptions", order_subscriptions_path %>
</div>
