<p style="color: green"><%= notice %></p>
<h1>Mon Abonnement</h1>
<div id="order_subscriptions">
  <% @order_subscriptions.each do |order_subscription| %>
    <%= render order_subscription %>
    <p>
      <%= link_to "Show this order subscription", order_subscription %>
    </p>
  <% end %>
</div>
<%= link_to "New order subscription", new_order_subscription_path %>
