<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <%= button_to "Réserver", order_course_book_course_path(course_id: course.id, date: "2022-12-07"), method: :post %>
  <% end %>
</div>
