<div class="container text-center">
  <div class="row m-3 border d-flex align-items-center d-flex flex-row-reverse ">
    <div class="col ">
    
          <%= image_tag("hamam.jpg", class: "m-3 ")%>
 
    </div>
    <div class="col m-5"><p>HAMMAM</p>
      <p>La chaleur et l'umidité présente en grande quantité dans le hammam permettent l'ouverture de vos pores
        contribuant ainsi
        un nettoyage en profondeur de votre peau. Celle-ci aura alors un aspect plus doux et plus net et pourra être
        complété
        par un soin du visage ou du corps comme un gommage pour encore plus de douceur.</p>
    </div>
  </div>
  <div class=" m-3 border d-flex align-items-center">
    <div class="col ">
   
          <%= image_tag("jacuzzi.jpg", class: "m-4 ")%>
   
    </div>
    <div class="col m-5"><p>JACUZZI</p>
      <p>L’eau chaude et les jets hydromassants permettent d’augmenter le flux sanguin. L’amélioration de la
        circulation sanguine
        va avoir des effets bienfaisants sur les migraines, le cœur, la tension artérielle, les douleurs de dos, les
        courbatures, l’arthrite, les varices, les douleurs chroniques …</p>
    </div>
  </div>
  <div class="row m-3 border d-flex align-items-center d-flex flex-row-reverse">
    <div class="col">

          <%= image_tag("sauna.jpg", class: "m-3")%>

    </div>
    <div class="col m-5"><P>SAUNA</P>
      <p>Connu pour ses bienfaits antistress, il est aussi réputé pour être une aide au sommeil mais aussi un remède
        aux
        problèmes de peau (acné, psoriasis, eczéma, urticaire). Contrairement au hammam, la chaleur dans un sauna
        reste sèche
        (entre 3% et 20% d'humidité) pour une température d'utilisation idéale de 80°c.</p>
    </div>
  </div>
</div>
</body>
</html>
