<div class="text-center py-5 ">
  <h1> Voies d'escalade ?</h1>
</div>
<div class=" row m-3 border d-flex align-items-center d-flex flex-row ">
  <div class="col col-12 col-sm-6 mt-4  ">
    <p>
      Description :</p>
    <p>Une voie d'escalade est un cheminement par lequel un grimpeur atteint le
      sommet d'une montagne, le haut d'un rocher ou la sortie d'un mur de glace. 
      Les voies peuvent varier de manière radicale en termes de difficulté et il convient 
      pour tout grimpeur de s'informer de leur niveau avant de s'y engager.</p>
  </div>
  <div class="col col-12 col-sm-6">
    <%= image_tag("climb5.jpg", class: "mb-3 mt-4 w-100") %>
  </div>
</div>
