@media screen and (max-width: 660px) {
  .fas {
    text-align: left;
  }
}
ul {
  padding-right: 2rem;
}
.colfoot {
  background-color: #c6b79c;
}

section {
  background-color: #f5ebd8;
  position: relative;

  bottom: 0;
}

.link-secondary {
  color: #35352e !important;
}
.container-form {
  padding: 40px;
  background-color: #c6b79c;
  border-radius: 20px;
}

.text-reset {
  --bs-text-opacity: 0;
  color: #35352e !important;
}
input[type="date" i] {
  width: 188px;
}
select {
  width: 188px;
}
