@media (max-width: 660px) {
  .jumbotron {
    display: none;
  }
}

@media (max-width: 660px) {
  .col-md-4 {
    max-width: 50%;
    max-height: 50%;
  }
}

@media (max-width: 660px) {
  .carousel-inner {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (min-width: 660px) {
  .text-center {
    font-size: auto;
  }
}

@media screen and (max-width: 660px) {
  .text-center {
    font-size: 12px;
  }
}

@media screen and (min-width: 660px) {
  .card-text {
    font-size: auto;
  }
}

@media screen and (max-width: 660px) {
  .card-text {
    font-size: 12px;
  }
}

.swiper {
  max-width: 100%;
  height: 300px;
}

.swiper-slide .img-carousel {
  object-fit: cover;
  height: 200px;
  width: 300px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.btn-index-page{
  margin-top: 15px;
}

.swiper-slide .imggg:hover {
  transition: 0.4s;
  transform: scale(1.05);
}

.swiper-container{
  padding-bottom: 50px;
  position: relative;
}