.card:hover .card-img-overlay {
    background-color: white;
    position: absolute;
    transition: 1s;
  }
  
  .card-text-cache{
    opacity: 0;
  }
  .card:hover .card-text{
    opacity: 0;
    transition: 1s;
  }
  .card:hover .card-text-cache{
    color: rgb(34, 29, 114);
    opacity:1;
    transition: 1s;
  }
  