<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-auto">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
    </div>
    <div>
 
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
           Lines utiles
          </h6>
          <p>
            <a href="https://saintjeoireescalade.wordpress.com/quelques-regles-de-securites-2/quelques-techniques-de-bases/"
              class="text-reset">Technique de base</a>
          </p>
          <p>
            <a href="https://www.auvieuxcampeur.fr/guide-de-choix-materiel-escalade" class="text-reset">Choisir son équipement</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Prénoms de l'équipe
          </h6>
          <p>
          <ul>Alexis</ul>
          <ul>Belén</ul>
          <ul>Anthony</ul>
          <ul>Thomas</ul>
          <ul>Mika</ul>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">mise en forme</h6>
          <p><i class="fas fa-home me-3"></i> France </p>
          <p>
            <a href="https://github.com/alchambron/TheClimbingProject.git" <i class="fas fa-envelope me-3"></i>
              TheClimbingProject.git</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright: Session Automne THP
    <a class="text-reset fw-bold" href="https://pixabay.com/fr/photos/mains-doigts-positif-bracelets-2227857/">Ça va
      aller</a>
  </div>
</footer>