<!-- Footer -->

<footer class="text-center text-lg-start position-relative bottom-0 bg-light text-muted">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">
            Lines utiles
          </h6>
          <p>
            <a href="https://saintjeoireescalade.wordpress.com/quelques-regles-de-securites-2/quelques-techniques-de-bases/"
              class="text-reset">Technique de base</a>
          </p>
          <p>
            <a href="https://www.auvieuxcampeur.fr/guide-de-choix-materiel-escalade" class="text-reset">Choisir son équipement</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">
            Prénoms de l'équipe
          </h6>
          <p>
            <ul><a href="https://github.com/alchambron"class="link-secondary">Alexis</a></ul>
            <ul><a href="https://github.com/Blezno"class="link-secondary">Belén</a></ul>
            <ul><a href="https://github.com/anthonymiloradovic"class="link-secondary">Anthony</a></ul>
            <ul><a href="https://github.com/tomraducha"class="link-secondary">Thomas</a></ul>
            <ul><a href="https://github.com/thimibka"class="link-secondary">Mickael</a></ul>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">mise en forme</h6>
          <p>
            <a href="https://github.com/alchambron/TheClimbingProject.git"class="link-secondary">
              TheClimbingProject.git </a>
          </p>
        </div><h6 class="d-flex justify-content-center">
    © 2022 Copyright: Session Automne THP
  </h6>
      </div>
    </div>  
  </section>
</footer>
